.poi-plugin-information-center .plugin-root-tabs-item-common .useItem-list {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
}
.poi-plugin-information-center .plugin-root-tabs-item-common .useItem-list .item {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 1 calc((100% / 1) - (4px * 2));
  margin: 4px;
  background: rgba(0, 0, 0, 0.075);
  overflow-x: hidden;
}
@media screen and (min-width: 471px) {
  .poi-plugin-information-center .plugin-root-tabs-item-common .useItem-list .item {
    flex: 0 1 calc((100% / 2) - (4px * 2));
  }
}
@media screen and (min-width: 761px) {
  .poi-plugin-information-center .plugin-root-tabs-item-common .useItem-list .item {
    flex: 0 1 calc((100% / 3) - (4px * 2));
  }
}
.poi-plugin-information-center .plugin-root-tabs-item-common .useItem-list .item .icon {
  flex-grow: 0;
  flex-shrink: 0;
  align-self: center;
  width: 32px;
  height: 32px;
  margin: 0 8px;
}
.poi-plugin-information-center .plugin-root-tabs-item-common .useItem-list .item .icon img {
  width: 100%;
  height: 100%;
}
.poi-plugin-information-center .plugin-root-tabs-item-common .useItem-list .item .content {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 0;
  overflow-x: hidden;
}
.poi-plugin-information-center .plugin-root-tabs-item-common .useItem-list .item .content .title {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 26px;
  overflow: hidden;
}
.poi-plugin-information-center .plugin-root-tabs-item-common .useItem-list .item .content .title .title-name {
  flex: 1 1 0;
  line-height: 26px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.poi-plugin-information-center .plugin-root-tabs-item-common .useItem-list .item .content .title .favourite {
  flex-grow: 0;
  flex-shrink: 0;
  cursor: pointer;
  margin-right: 8px;
  padding-top: 2px;
}
.poi-plugin-information-center .plugin-root-tabs-item-common .useItem-list .item .content .title .favourite.active {
  color: #137CBD;
}
.poi-plugin-information-center .plugin-root-tabs-item-common .useItem-list .item .content .amount {
  display: flex;
  flex-flow: row nowrap;
  flex: 1 0 0;
}
.poi-plugin-information-center .plugin-root-tabs-item-common .useItem-list .item .content .amount > div:first-child {
  flex: 1 1 50%;
}
.poi-plugin-information-center .plugin-root-tabs-item-common .useItem-list .item .content .amount .amount-item,
.poi-plugin-information-center .plugin-root-tabs-item-common .useItem-list .item .content .amount .bp3-popover-wrapper {
  flex: 1 0 50%;
}
.poi-plugin-information-center .plugin-root-tabs-item-common .useItem-list .item .content .amount .bp3-popover-target {
  width: 100%;
  height: 100%;
}
.poi-plugin-information-center .plugin-root-tabs-item-common .useItem-list .item .content .amount .amount-item-content {
  display: flex;
  flex-flow: row nowrap;
  text-align: left;
}
.poi-plugin-information-center .plugin-root-tabs-item-common .useItem-list .item .content .amount .amount-item-content .amount-icon {
  display: flex;
  margin-top: 1px;
  margin-right: 2px;
  width: 14px;
  height: 14px;
}
.poi-plugin-information-center .plugin-root-tabs-item-common .useItem-list .item .content .amount .amount-item-content .amount-icon img {
  width: 100%;
  height: 100%;
}
.poi-plugin-information-center .plugin-root-tabs-item-common .useItem-list .item .content .amount .amount-item-content .amount-value {
  line-height: 18px;
}
.bp3-dark .poi-plugin-information-center .plugin-root-tabs-item-common .useItem-list .item {
  background: rgba(0, 0, 0, 0.25);
}
.poi-plugin-information-center-overlay .plugin-root-tabs-item-common-useItemAmountFurniturePopover .item .header {
  text-align: right;
  padding-right: 8px;
}
/*# sourceMappingURL=index.css.map */